%div.landing
  %h2.tag Explorer by nature. Geek by choice.
  %h1.name Sharath
  %div.action-block
    %ul
      %li.action.school
        %h1.action.school
          %a{:href => "#school"} school
      %li.action.projects
        %h1.action.projects
          %a{:href => "#projects"} code
      %li.action.work
        %h1.action.work
          %a{:href => "#work"} work

%section.scrollpage#aboutme
  %div.clear
    %h1.section.aboutme about me
    %div.main
      %div.wrap
        %img{:src => "/img/profile.jpg", :alt => "Voila Linux!", :id => 'pic'}
        %p I am a Graduate Student in the Dept. of Computer Science, at SUNY Buffalo and I live in Buffalo, NY.
        My primary interests are Operating Systems and Distributed Sytems. I am a Technology and Computers
        enthusiast in general, and GNU/Linux and Open Source enthusiast in particular.
        I was born and brought up in India, in the town of Mysore, near Bangalore.
        I enjoy coding, more so if it is C, and even more so if the editor is Vi!
        Other than code, I love exploring nature and driking Beer. And hey, I can play some cool songs on my guitar too.
        I am always keen to work on interesting projects. If you want to work with me or hire me or just say hi, send me an email.
        %p You can also find me on LinkedIn and Github.
  %div.links
    %p.icons
      =link_to('<i class="icon-envelope-alt"></i>', 'mailto:sc296@buffalu.edu', :title => "Email", :rel => "me")
      =link_to('<i class="icon-github"></i>', 'https://github.com/sharathcshekhar/', :title => "Github", :rel => "me")
      =link_to('<i class="icon-linkedin"></i>', 'http://www.linkedin.com/in/sharathcshekhar', :title => "LinkedIn", :rel => "me")
      =link_to('<i class="icon-file-alt"></i>', '/files/resume.pdf', :title => 'resume', :rel => "me")

%section.scrollpage#school
  %div.wrapper
    %h1.section.school school
    %h2
    =link_to('<img src="/img/ub.jpg", alt="UB">', 'http://www.buffalo.edu', :width=>'160', :height => '33', :id => 'UB')
    %p
      I started my Master's program in the Department of Computer Science in August 2012. I am currently in 4th
      semester and working towards my <a href="#pigout">Master's thesis</a>, under <a href="http://www.cse.buffalo.edu/~stevko/">Dr. Steve Ko</a>
      in the area of wide area data analytics.
      I am also working with <a href="http://www.cse.buffalo.edu/~vipin/">Dr. Vipin Choudhary</a> on my Master's Project - <a href="#hydra">Hydra</a>.
      I am expecting to graduate in May 2014.
          
    %h2 <a href="http://www.sjcemysore.org/">Sri Jayachamarajendra College of Engineering</a>    
    I have a Bachelor's degree in Electrical and Electronics Engineering from SJCE, Mysore, India,
    under the Visvesvaraya Technological University.
    I was an active member of the <a href="http://www.ieeesjce.com/">IEEE student chapter in SJCE</a>, and was the Student Chairman during 2008-09.

    %h2 Primary Schooling
    I attended the prestigious Marimallappa's High school and Sadvidya Pre-University College in Mysore.
 
%section.scrollpage#projects
  %div.wrapper
    %h1.section.projects code
    %dl.projects
      %dt
        %h2.section#pigout
          PigOut
      %dl
        %p
          This is an ongoing reasearch project. The project builds on top of Hadoop Pig platform and aims to create a powerful
          wide area data analytics system.
      %dt

      %dt
        %h2.section#hydra
          Hydra
          //#{link_to('Hydra', "https://github.com/sharathcshekhar/hydra")}
      %dl
        %p 
          Hydra is an ambitious project to develop a distributed, fault tolerant block device aimed to replace RAID in large clusters.
          It uses Reed Soloman erasure coding for data resiliency and providives a unique feature of having a variable degree of fault tolerance at a
          granuliaity of a single block, chosen by the user.
      %dt
        %h2
          %a{:href => "https://github.com/sharathcshekhar/Simpella"} Simpella
      %dl
        %p Simpella is a CLI based Peer to Peer file sharing application based on the GNUtella V0.6 protocol.
      %dt
        %h2
          Dyads
          //%a{:href => "https://github.com/sharathcshekhar/dyads"} Dyads 
      %dl
        %p
        Dyads is FUSE based file system providing a partial POSIX interface for accessing the files on the Globus GridFTP servers.
        I worked with <a href="http://www.cse.buffalo.edu/faculty/tkosar/">Dr. Tevfik Kosar</a> on this project.
        We also developed a mechanism to cache metadata of the GridFTP files in a few local servers. If you are interested to work on
        this project please contact me.

%section.scrollpage#work
  %div.wrapper
    %h1.section.work work
    %h2 
      Summer Intern at <a href="https://www.amazon.com/">Amazon AWS</a>
    %dl.work
      %dl
        %p
        I worked in Amazon Cloud as a Software Developer during summer of 2013. 
      %dt
        %h2 Software Engineer at <a href="https://netapp.com/">NetApp, Bangalore</a>
      %dl
        %p 
          Prior to coming to USA, I was working with NetApp Bangalore, between 2011 and 2012. I worked as a Software developer 
          in the V-Series team of NetApp, and worked on Data-Ontap.
      
      %dt
        %h2 Software Engineer at <a href="http://www.cisco.com/web/about/ac49/ac0/ac1/ac259/nds.html">Cisco Video Tech. Ltd., formerly NDS</a>
      %dl
        %p
          Right after my Bachelor's I worked at NDS Pay TV Technology Pvt. Ltd., (now a part of Cisco) Bangalore, for 2 years. I worked on the Set Top Box
          Middleware and Device Driver validation tools in the roles of Integration Engineer and Software Developer respectively. 
          On a work assignment, I also worked in the NDS Research labs in Paris for three months.

.clear
  .footer
    .container
      %footer
        %h4.header About this website
        %p This website is generated using nanoc.
        Disclaimer: The contents and link identifiers of this web page are
        not monitored, reviewed, nor endorsed by the State University of
        New York at Buffalo. All opinions expressed are my own.

