!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Sharath Chandrashekhara
    %link{:href => "stylesheet/home.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %meta{:content => "nanoc", :name => "generator"}
    %meta{:content => "Sharath", :name => "author"}

%div.content
  = yield
